<div class="container">
  <h1>Scrolling Tabs Demo</h1>
  <div class="row">
    <div class="col-md-12">
      <ngc-scrolling-tabs>
        <ngcScrollingTab id="home" title="Home 0">
          Tab 1 content
        </ngcScrollingTab>
        <ngcScrollingTab id="settings" title="Settings 1">
          Tab 2 content
        </ngcScrollingTab>
        <ngcScrollingTab id="tab3" title="Long Tab Name 2">
          Tab 3 content
        </ngcScrollingTab>
        <ngcScrollingTab id="tab4" title="Long Name3" [active]="true">
          Tab 4 content
        </ngcScrollingTab>
        <ngcScrollingTab id="tab5" title="Long Tab Name4">
          Tab 5 content
        </ngcScrollingTab>
        <ngcScrollingTab id="tab6" title="Longs Tab Name5">
          Tab 6 content
        </ngcScrollingTab>
        <ngcScrollingTab id="tab7" title="Longest Tab Name6">
          Tab 7 content
        </ngcScrollingTab>
        <ngcScrollingTab id="tab8" title="Long Tab Name7">
          Tab 8 content
        </ngcScrollingTab>
      </ngc-scrolling-tabs>
    </div>
  </div>
</div>